.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content1 {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
    position: relative;
}

.input-text1{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 25px #00000038);
    height: 30px;
    margin-left: 48px;
}

.quiz-type-group {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.quiz-type-group h3 {
    margin-right: 20px;
    flex-shrink: 0;
}

.option-type-selection {
    display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-around;
  margin-left: 25px;
  width: 80%;
  color: gray;
line-height: 30px;
text-align: center;
}

.option-type-selection h4 {
    margin-right: 10px; 
    color: #9F9F9F;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-family: Poppins;


    
}

.option-container {
    display: flex;
    align-items: flex-start;
    margin-bottom: 15px;
}

.timer-group {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.timer-group label {
    margin-bottom: 5px;
}

.add-option-button {
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 25px #00000038);
    height: 25px;
    color:#9F9F9F;
    margin-left: 48px;
    background-color: white;
    text-align: center;
font-size: 20px;
line-height: 25px;
cursor: pointer;

}

.button-group {
    display: flex;
    justify-content: space-between;
}

.cancelBtn, .nextBtn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
}

.cancelBtn {
    background-color: #dc3545;
}

.options-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  
}

.options-group {
    flex: 2;
    margin-right: 10px; 
}

.timer-options {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box {
    margin-right: 10px;
}

.option-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.delete-option-button {
    background-color: #f44;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-left: 10px;
}

.timer-button {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    cursor: pointer;
    box-shadow: 0px 0px 15px 0px #00000026;
    width: 100px;
    text-align: center;
}

.timer-button.active {
    background: #D60000;
    color: #fff;
    box-shadow: 0px 0px 15px 0px #FF4B4B5C;
}

.correct-option {
    border: 2px solid green;
    background-color: #e0ffe0;
    cursor: pointer;
}

.question-nav {
    margin: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;  
}

.question-button {
    width: 58px;
    height: 58px;
    display: flex;
    box-shadow: 0px 0px 10px 0px white;
    border-radius: 50%; 
    background-color: #ffffff; 
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
    color: #9F9F9F;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 10px;
}

.question-button.active {
    flex-direction: column;
}

.add-question-button {
    cursor: pointer;
    font-size: 40px;
    color: #969696;
}


input[type="radio"] {
    appearance: none; 
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #9F9F9F;  
    cursor: pointer;
}
 
input[type="radio"]:checked {
    background-color: black; 
}

.input-optionQuiz{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 25px #00000038);
    height: 30px;
    margin-left: 48px;

}
.delete-option-icon {
    color: #f44;
    cursor: pointer;
    margin-left: 10px;
    font-size: 20px; 
}

.cancelBtnCreate{
    padding: 10px 20px;
  background-color: white;
  color: #333;
  border-radius: 10px;
  cursor: pointer;
  height: 20px;
  text-align: center;
  margin-right: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.25);
  width: 150px;

}
.input-optionQuiz-imageandtext{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 25px #00000038);
    height: 30px;
    margin-left: 48px;

}
.input-optionQuiz-imageandtext2{
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
    filter: drop-shadow(0px 0px 25px #00000038);
    height: 30px;
    margin-left: 28px;

}